ion-toolbar{
    --background: #ffffff;
}
ion-title{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #22bb88;
    padding-top: 8px;
    font-weight: bolder;
    margin: 0 auto;
    
}
ion-button{
    color: #000000;
}
ion-content{
    --background: #22bb88;
}
ion-card{
    background-color: #ffffff;
}
ion-card-content p{
    text-align: justify;
    text-justify: inter-word;
    color: #000000;
}
ion-card-subtitle{
    text-align: justify;
    text-justify: inter-word;
    color: #49751d;
    font-weight: bolder;
}
ion-card-title{
    text-align: justify;
    text-justify: inter-word;
    font-weight: bolder;
    color: #000;
}

ion-avatar {
    border-radius: 4px;
    margin: 0 auto;
}

ion-button {
    --background: #1fcc70;
   margin: 0 auto;
}

ion-button:hover{
    --background: #ade6c7;
   margin: 0 auto;
}

.form {
    margin-top: 2%;
}

ion-input {
    background: transparent;
    font-family:monospace;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 46px;
}

ion-item {
    width: 95%;
    background-color: #ffffffcc;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0px #3947521f; 
    margin: 0 auto;
    margin-bottom: 10px;
}

 
h1{
    margin-top: 2%;
    text-align: center;
    color: #000000;
    font-weight: bolder; 
}

.iniciar{
    text-align: center;
}

.crear{
    color: black;
    text-decoration: none;
}

.crear:hover{
    color: #67ff02;
    text-decoration: none;
}